# Virtual environment
.venv~/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.pyc

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# json artefacts
.json